#slide .overlay {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 25%, rgba(255,255,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#slide .content {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 0;
    width: 100%;
    color: #fff;
}

#slide .content .main {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

#slide .content .sub {
    font-weight: 300;
    font-size: 33px;
    margin-top: 0;
}

#slide .content .link {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #53284e;
    display: inline-block;
    width: auto;
    margin-top: 30px;
}

.purple-bar {
    background-color: #53284e;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    box-shadow: 7px 4px 9px -2px rgba(0,0,0,0.3);
    z-index: 1;
    position: relative;
}

#news, #events {
    position: relative;
}

#news .overlay, #events .overlay {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 25%, rgba(255,255,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#news .content, #events  .content{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 10%;
    width: 80%;
    color: #fff;
}

#news .content .main, #events .content .main {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

#news .content .sub, , #events .content .sub {
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.home-slide {
    width:100%;
    height: 600px;
    background-position: top center;
    background-size:  100% auto ;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1360px) {
    .home-slide {
        height: 500px;
    }
}

@media only screen and (max-width: 1080px) {
    .home-slide {
        height: 400px;
    }
}

@media only screen and (max-width: 860px) {
    .home-slide {
        background-size: auto 100% ;
    }
}
