#content {
    font-size: 16px;
}

#content p {
    font-size: 16px;
}

#content ol {
    padding-left: 20px;
}
#content ol li {
    font-weight: bold;
}

.purple-bt {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #53284e;
    color: #ffcc00 !important;
    display: inline-block;
    width: auto;
    text-decoration: none;
}

.alert-success {
    padding: 5px 12px;
    margin-bottom: 12px;
}

#content h1.heading, #content h2.heading, #content h2.heading, #content h4.heading, #content h5.heading {
    font-weight: 900;
    text-transform: uppercase;
    color: #53284e;
}

