#directory .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.item {
    background-color: #ebebeb;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: 3px 6px 9px rgba(0,0,0,0.3);
    width: 31%;
    margin-right: 2%;
    padding: 30px;
    font-size: 12px;
}

.item .img {
    padding-left: 0;
}

.item .details {
    padding-left: 0;
}

.item span {
    display: inline-block;  
    width: 100%;
}

.item .name {
    font-size: 18px;
    font-weight: 400;
    color: #53284e;
}

.item .school {
    font-size: 14px;
    font-weight: 300;
}

.item .apply {
    background-color: #53284e;
    color: #ffde17;
    font-size: 12px;
    height: 30px;
    text-transform: uppercase;
    display: block;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 90px;
}

.item .readmore {
    color: #53284e;
    text-decoration: underline;
}

.item .poster-img {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.item .location {
    color: #636363;
    display: block;
    width: 100%;
    padding-left: 20px;
    height: 17px;
    background-image: url(../img/location-pin.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    margin: 20px 0;
}

.item .nameschool {
    margin-top: 14px;
    height: 70px;
    display: block;
    width: 100%;
}

.item .desc {
    font-size: 12px;
    color: #636363;
    margin-top: 20px;
    margin-bottom: 0;
}

.item a {
    font-size: 12px;
}

#map {
    position: relative;
}

#map .filterbox {
    position: absolute;
    top: 60px;
    left: 14%;
    background-color: #fff;
    padding: 40px;
    width: 400px;
}

.filterbox input[type='text'], .filterbox input[type='password'], .filterbox input[type='submit'] {
        font-size: 15px;
        margin-bottom: 14px;
    height: 40px;
    line-height: 40px;
        padding: 0 12px;
}

.filterbox input[type='submit'] {
    background-color: #53284e;
    color: #ffde17;
    font-size: 12px;
    height: 30px;
    text-transform: uppercase;
    display: block;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 90px;
    float: right;
    margin-bottom: 0;
}

@media only screen and (max-width: 1360px) {
    #map .filterbox {
        left: 5%;
    }
    
}


@media only screen and (max-width: 1200px) {
    .item {
        width: 47%;
    }
    
}


@media only screen and (max-width: 991px) {
}


@media only screen and (max-width: 767px) {
    #map .filterbox {
        position: initial;
        width: 100%;
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 520px) {
    .item {
        width: 98%;
    }
    
}
