

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Roboto';
}

a {
    color: #53284e;
}

a:hover {
    color: #53284e;
}

.yellow {
    color: #ffde17;
}

#content {
    min-height: 600px;
}

#header {
    padding: 32px 0;
    box-shadow: 7px 4px 9px -2px rgba(0,0,0,0.3);
    z-index: 2;
    position: relative;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

#header ul li a {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

#header ul li a:hover {
    text-decoration: none;
    color: #54284e;
}

#header ul li {
    float: left;
    margin: 0 7px;
}

#login-nav {
    margin-top: 18px;
}

#login-nav a {
    text-decoration: underline;
}

#main-nav {
    margin-top: 38px !important;
}

#footer {
    background-color: #53284e;
    padding: 60px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#footer ul li a {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    line-height: 12px;
    display: block;
}

#footer ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

#footer ul li {
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border-right: 1px solid #fff;
    padding-right: 20px;
}

#footer ul li:last-child {
    border-right: 0;
    padding-right: 0;
}

#footer .socials  {
    margin-top: 10px !important;
    float: right !important;
}

#footer .socials li {
    width: auto;
    border: 0;
    padding: 0 !important;
    margin-right: 0;
    margin-left: 10px;
}

#footer .socials li a {
    padding: 0;
    font-size: 18px;
    margin: 3px 15px 3px 0;
}

#footer .socials li a:hover {
    text-decoration: none;
}

#footer a {
    color: #fff;
}

#footer .left {
    text-align: left;
}

#footer .copyright {
    text-align: right;
}

#footer .socials {
    display: block;
    width: auto;
    float: left;
    margin-top: 0;
}

#footer .socials li {
    float: right;
}

    /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 8px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

.modal-content {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.modal-content h2 {
    color: #262b38;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-content input[type='text'], .modal-content input[type='password'], .modal-content input[type='submit'] {
    font-size: 16px;
    margin-bottom: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
}

.modal-content input[type='submit'] {
    color: #777777;
    border-color: #777777;
}

.modal-content input[type='password'] {
    margin-bottom: 7px;
}

.modal-body {
    padding: 40px 30px;
}

#login-modal .modal-dialog {
    width: 430px;
}

#login-modal .modal-dialog a {
    font-size: 14px;
    color: #53284e;
}

#login-modal .fa {
    color: #fff !important;
}

#login-modal .modal-dialog p {
    font-size: 14px;
}

.menubar {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #53284e;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


#profile-badge {
    float: right;
    cursor: pointer;
    margin-top: -16px;
    margin-bottom: -20px;
}

#profile-badge .left {
    width: 430px;
    margin-right: 10px;
    float: left;
}

#profile-badge .right {
    width: 60px;
    float: right;
}

#profile-badge .right img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#profile-badge .name {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
}
#profile-badge .campus {
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
}

#user-menu {
    position: absolute;
    background-color: #fff;
    top: 115px;
    right: 0;
    padding: 20px;
    width: 400px;
    display: none;
}

#user-menu.active {
    display: block;
}

#user-menu .left,#user-menu .right {
    float: left;
}

#user-menu .left {
    width: 30%;
    padding: 0 14px;
}

#user-menu .left img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#user-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#user-menu ul li {
    float: left;
    width: 100%;
    border-top: 1px solid #53284e;
    padding: 16px 14px;
    margin: 0;
}

#user-menu ul li a {
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
}

#user-menu .right {
    width: 70%;
}

#user-menu .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
}

#user-menu a {
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
}

.menubar {
    display: none;
}

.linebr {
    display: inline-block;
    width: 100%;
}


.linebr .line, .linebr .word {
    display: block;
    text-align: center;
    float: left;
}

.linebr .line {
    border-bottom: 1px solid #777777;
    width: 45%;
    margin-top: 7px;
}

.linebr .word {
    width: 10%;
    height: 20px;
}

#login-modal .fa-linkedin {
    background-color: #0171b0;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
}

#login-modal .fa-linkedin:before {
    font-size: 21px;
}

#login-modal .fa-linkedin:hover {
    text-decoration: none;
}

/*#pagination .hidden {*/
    /*display: block !important;*/
    /*visibility: visible !important;*/
/*}*/

/*#pagination .justify-between {*/
    /*display: none !important;*/
    /*visibility: hidden !important;*/
/*}*/

#login-errors {
    color: #ff7272;
}

#pagination span, #pagination a {
    display: inline-block;
}

.page-numbers span, .page-numbers a {
    display: inline-block;
    margin: 0 5px;
}

.paginate-nums {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.paginate-nums span {
    display: inline-block;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 24px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
    color: #fff;
    float: left;
    margin: 0 3px;
}

.paginate-nums a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 26px;
    background-color: #53284e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px ;
    border-radius:  3px;
    color: #fff;
    float: left;
    margin: 0 3px;
}

.paginate-nums .prevs,.paginate-nums .nexts {
    display: inline-block;
}

.paginate-nums .prevs a {
    float: right;
}

#header .sub-menu {
    display: none;
    width: 250px;
    position: absolute;
    background-color: #fff;
    padding-top: 10px;
}

#header .sub-menu li {
    width: 100%;
    float: left;
    padding: 5px 0;
}

#header ul li:hover .sub-menu {
    display: block;
}

@media only screen and (max-width: 1200px) {
    #main-logo {
        width: 160px;
    }
    #header ul li {
        margin: 0 5px;
    }
    #header ul {
        width: 103%;
    }

    #header ul li a {
        font-size: 12px;
    }
    #main-nav {
        margin-top: 18px !important;
    }
    #slide .content .main {
        font-size: 30px !important;
    }
    #slide .content .sub {
        font-size: 23px !important;
    }
    #slide .content .link {
        font-size: 15px !important;
        padding: 10px 30px !important;
    }
    .purple-bar {
        font-size: 20px !important;
    }

    #user-menu {
        top: 131px;
    }

    #profile-badge .right img {
        width: 50px;
    }

    #user-menu {
        top: 81px;
    }

    #main-nav {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 991px) {

    #header ul {
        text-align: left !important;
        padding-left: 20px;
        padding-right: 0;
    }

    #header .sub-menu {
        display: block;
        width: 100%;
        position: relative;
        background-color: transparent;
        padding-top: 0;
        right: 0;
        float: right;
        margin-top: 0 !important;
    }

    #header .sub-menu li a {
        font-size: 14px;
        font-weight: 500;
    }

    #header .sub-menu li {
        padding: 0;
    }

    #main-logo {
    }

    #header .row {
        text-align: center;
    }

    #header ul {
        float: none;
        display: inline-block;
    }

    #header ul li {
        margin: 5px 0;
    }

    .menubar {
        display: block;
        float: right;
        margin-top: 5px;
    }

    #header ul, #header ul li {
        width: 100%;
        float: left;
    }

    #header ul li a {
        font-size: 14px;
        color: #fff;
    }

    #main-nav ul li a {
        color: #fff;
        font-size: 14px;
    }

    #user-menu {
        color: #53284e;
    }

    #user-menu li a {
        color: #53284e !important;
        font-size: 16px;
        font-weight: bold;
    }

    #header ul li a:hover {
        color: #fff;
    }

    .menus {
        position: absolute;
        right: 0;
        background-color: #53284e;
        width: 60%;
        padding: 30px 0;
        color: #fff;
        display: none;
    }

    .menus.active {
        display: block;
    }

    #main-nav {
        margin-top: 0 !important;
    }

    #footer {
        text-align: center;
        padding: 30px 0;
    }

    #footer span {
        margin-top: 15px;
        display: inline-block;
        width: 100%;
    }


    #footer .copyright {
        text-align: center;
    }

    #footer .socials {
        display: block;
        width: 100%;
        float: right;
        text-align: center;
        margin-top: 10px;

    }

    #footer .socials li {
        float: none;
        display: inline-block;
    }

    #footer .socials li {
        float: none;
        display: inline-block;
    }

    #footer ul {
        width: 100%;
    }

    #footer ul li {
        margin-bottom: 10px;
    }

    #footer .developer {
        text-align: center;
        margin-top: 20px;
    }

    #footer .copyright {
        text-align: center;
        float: left;
        width: 100%;
    }


    #profile-badge {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #profile-badge .right {
        width: 20%;
    }

    #profile-badge .left {
        width: 80%;
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
    }
    #header ul {
        width: 100%;
        float: left;
        text-align: right;
        padding-right: 20px;
        margin-top: 20px !important;
    }

    #user-menu {
        top: 102px;
        width: 100%;
    }
}



@media only screen and (max-width: 767px) {
    #login-modal .modal-dialog {
        left: 10%;
        width: 80%;
    }

}


@media only screen and (max-width: 620px) {
    .menus {
        width: 100%;
        padding: 30px 0;
        top: 76px;
    }

    #profile-badge {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #profile-badge .right {
        width: 15%;
    }

    #profile-badge .left {
        width: 85%;
        margin: 0;
    }
    #header ul {
        width: 100%;
        float: left;
        text-align: right;
        padding-right: 20px;
        margin-top: 20px !important;
     }

    #user-menu {
        top: 102px;
        width: 100%;
    }

}

@media only screen and (max-width: 420px) {
    #profile-badge .left {
        width: 80%;
    }
}
