#content {
    font-size: 18px;
    padding: 50px 0;
}

h3.sub {
    font-size: 40px;
    font-weight: 900;
}

h4.sub {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.other-news .wrap {

}

#slide .overlay {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 25%, rgba(255,255,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#slide .content {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 0;
    width: 100%;
    color: #fff;
}

#slide .content .main {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.home-slide {
    width:100%;
    height: 600px;
    background-position: center;
    background-size:  100% auto ;
    background-repeat: no-repeat;
}

.other-news h3 {
    color: #53284e;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

.other-news h4 {
    color: #53284e;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.other-news p {
    color: #53284e;
    font-size: 12px !important;
    font-weight: 300;
    text-transform: uppercase;
}

.news-item {
}

.other-news .wrap {
    position: relative;
    height: 200px;
    width: 100%;
    background-position: center;
    background-size:  100% auto ;
    background-repeat: no-repeat;
}

.new-item {
    margin-bottom: 30px;
    min-height: 350px;
}

.new-item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

.news {
    width: 100%;
    overflow: hidden;
}

.wrap {
    padding: 0;
}

.vcenter {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 30px;
}

#events, #news {
    display: none;
}

#events.active, #news.active {
    display: block;
}

.other-news {
}

@media only screen and (max-width: 1360px) {
    .home-slide {
        height: 500px;
    }
}

@media only screen and (max-width: 1080px) {
    .home-slide {
        height: 400px;
    }
}

@media only screen and (max-width: 860px) {
    .home-slide {
        background-size: auto 100% ;
    }
}
