#profile-cover {
    height: 300px;
    padding: 30px 0;
    background-color: #ccc;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 240px;
}

#profile-cover .name, #profile-cover .school {
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    width: 100%;
    line-height: 32px;
}

#profile-cover .name {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}

.editBt, .editItem {
    border-radius: 10px;
    font-size: 14px;
    color: #3e67b1!important;
    font-weight: bold;
}

#profile-cover .school {
    font-size: 24px;
    line-height: 24px;
    font-weight: lighter;
}

#profile-cover .wrp {
    height: 240px;
    position: relative;
}

#profile-cover .vcenter {
    position: absolute;
    bottom: 0;
}

#profile-strip {
    padding: 20px 0;
    box-shadow: 7px 4px 9px -2px rgba(0,0,0,0.3);
    background-color: #f5f5f5;
    font-size: 17px;
    line-height: 17px;
}
#profile-strip img {
    margin-right: 10px;
}

#profile-details {
    padding: 20px 0;
}

.colm {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 24px;
    background-color: #f5f5f5;
    box-shadow: 1px 4px 6px rgb(0 0 0 / 35%);
    font-size: 14px;
    color: #808285;
}

.colm img {
    max-width: 80px;
}

.colm .heading {
    font-size: 23px;
    color: #808285;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d6d6d7;
    display: block;
    width: 100%;
}

.colm hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.colm p {
    margin-bottom: 0;
    line-height: 16px;
}
.colm p.title {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.colm .icon {
}

.stripcol {
    float: left;
}

.map-canvas {
    height: 200px;
    margin-top: 20px;
}

#downloadResume {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #53284e;
    color: #ffcc00;
    display: inline-block;
    width: auto;
}

.purple-bt {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #53284e;
    color: #ffcc00 !important;
    display: inline-block;
    width: auto;
    float: right;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: 10px;
}

.showOnEdit {
    display: none;
}

.user-cover .editBt {
    background-color: #fff;
    padding: 0 5px;
    position: absolute;
    z-index: 1;
    margin-top: -20px;
}


@media only screen and (max-width: 767px) {
    .stripcol {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    .stripcol span {
        float: left;
    }
    .stripcol a {
        float: left;
        margin-left: 10px !important;
        display: inline-block;
    }
    .stripcol .editBt {
        float: left;
        margin: 0;
    }
}



@media only screen and (max-width: 620px) {
    #profile-cover .photo {
        height: auto;
    }
}
